<div
  class="bg-gray-800 text-white h-full fixed top-0 left-0 z-40 transition-all duration-300"
  [ngClass]="{
    'w-64': isExpanded,
    'w-16': !isExpanded,
    '-translate-x-full': !isExpanded && isMobile
  }"
  [class.hidden]="!isExpanded && isMobile"
>
  <!-- Sidebar Header with Toggle Button -->
  <div class="flex items-center justify-between px-4 py-2 bg-blue-700">
    <button
      class="text-white"
      (click)="toggleSidebar()"
      aria-label="Toggle Sidebar"
    >
      <i *ngIf="isExpanded" class="material-icons">arrow_back</i>
      <i *ngIf="!isExpanded" class="material-icons">menu</i>
    </button>
  </div>

  <!-- Sidebar Navigation -->
  <nav class="mt-4">
    <ul>
      <li
        class="p-4 hover:bg-blue-500 cursor-pointer flex items-center"
        [ngClass]="{ 'justify-start': isExpanded }"
      >
        <i class="material-icons mr-4">chat</i>
        <span *ngIf="isExpanded">New Chat</span>
      </li>
      <li
        class="p-4 hover:bg-blue-500 cursor-pointer flex items-center"
        [ngClass]="{ 'justify-start': isExpanded }"
      >
        <i class="material-icons mr-4">history</i>
        <span *ngIf="isExpanded">Chat History</span>
      </li>
      <li
        class="p-4 hover:bg-blue-500 cursor-pointer flex items-center"
        [ngClass]="{ 'justify-start': isExpanded }"
      >
        <i class="material-icons mr-4">info</i>
        <span *ngIf="isExpanded">About</span>
      </li>
      <li
        class="p-4 hover:bg-blue-500 cursor-pointer flex items-center"
        [ngClass]="{ 'justify-start': isExpanded }"
      >
        <i class="material-icons mr-4">download</i>
        <span *ngIf="isExpanded">Export Chat</span>
      </li>
      <li
        class="p-4 hover:bg-blue-500 cursor-pointer flex items-center"
        [ngClass]="{ 'justify-start': isExpanded }"
      >
        <i class="material-icons mr-4">person_add</i>
        <span *ngIf="isExpanded">Sign Up</span>
      </li>
    </ul>
  </nav>
</div>
